In [4]:
# Import needed packages
# You may add or remove packages should you need them
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.datasets import load_iris
from sklearn import model_selection
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.model_selection import KFold, LeaveOneOut, cross_val_score

# Set random seed
np.random.seed(0)

# Display plots inline and change plot resolution to retina
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
# Set Seaborn aesthetic parameters to defaults
sns.set()

In [5]:
# Load the Iris dataset included with scikit-learn
iris = load_iris()

In [6]:
# Put data in a pandas DataFrame
df = pd.DataFrame(iris.data,columns=iris.feature_names )
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [19]:
# Add target and class to DataFrame
df["target"] = iris.target
df["class"] = iris.target_names[iris.target]
df.columns = [col.replace("(cm)", "").strip() for col in df.columns]

In [20]:
# Show 10 random samples
df.sample(10)

     sepal length  sepal width  petal length  petal width  target       class
114           5.8          2.8           5.1          2.4       2   virginica
62            6.0          2.2           4.0          1.0       1  versicolor
33            5.5          4.2           1.4          0.2       0      setosa
107           7.3          2.9           6.3          1.8       2   virginica
7             5.0          3.4           1.5          0.2       0      setosa
100           6.3          3.3           6.0          2.5       2   virginica
40            5.0          3.5           1.3          0.3       0      setosa
86            6.7          3.1           4.7          1.5       1  versicolor
76            6.8          2.8           4.8          1.4       1  versicolor
71            6.1          2.8           4.0          1.3       1  versicolor

In [9]:
# now... implement the LDA (bear in mind that you do pass it the y's and it is supervised!)
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda = LinearDiscriminantAnalysis()

In [21]:
# same process as always, identify your X's and your y's
X,y =  df.iloc[:,:4], df['target']

In [22]:
#train-test-split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0, stratify=y)

In [23]:
# Scale the X's
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train= scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [13]:
# apply the lda transformation

In [14]:
# select 2 principal components

In [15]:
# take a look at the new axes for the data and plot them

In [16]:
# what about the variability?

In [17]:
# Run a Random Forest Classifier with the transformed data

In [18]:
#Check the new acuracy! Is it higher or lower than what you obtain selecting 2 features and applying a Random Forest Directly?