In [10]:
import numpy as np
import pandas as pd

In [11]:
data = pd.read_csv('insurance.csv')
data.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [12]:
# encoding sex column
data.replace({'sex':{'male':0,'female':1}}, inplace=True)

3 # encoding 'smoker' column
data.replace({'smoker':{'yes':0,'no':1}}, inplace=True)

# encoding 'region' column
data.replace({'region':{'southeast':0,'southwest':1,'northeast':2,'northwest':3}}, inplace=True)

In [13]:
#data.values[:,:-1] #, data.values[:,-1]

In [14]:
X,y = data.values[:,:-1], data.values[:,-1]

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [16]:
from sklearn.ensemble import GradientBoostingRegressor
reg = GradientBoostingRegressor()

In [17]:
reg.fit(X_train,y_train)
pred=reg.predict(X_test)
reg.score(X_test, y_test)

0.8978457152567098

In [18]:
in_data = (19,1,27.9,0,0,1)
in_data = np.asarray(in_data)
in_data = in_data.reshape(1,-1)
predict = reg.predict(in_data)
print(predict)

[18215.60661529]

In [19]:
in_data = (18,0,33.77,1,1,0)
in_data = np.asarray(in_data)
in_data = in_data.reshape(1,-1)
predict = reg.predict(in_data)
print(predict)

[4072.52692528]